@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxMIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc9.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  color: #666;
}
li {
  list-style: none;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
  color: #ccc;
  font-weight: 100;
  font-size: 100px;
  text-transform: lowercase;
  line-height: 1;
  margin: 0px;
}
.todo-app__actions-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;
  max-width: -webkit-fill-available;
  height: 40px;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}
.todo-app__actions-bar div {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  width: 34%;
}
.todo-app__actions-helpButton {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.35px;
}
.todo-app__actions-controlButton {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: -0.35px;
  padding: 0px 6px;
}
.active {
  background: #fff;
  border: 1px solid #EBDFDF;
  border-radius: 3px;
}
.todo-app__content {
  display: flex;
  flex-direction: column;
  background: white;
  min-width: fit-content;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.todo-app__tasks {
  min-height: 296px;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.todo-app__tasks-item {
  display: flex;
  min-height: 59px;
  align-items: center;
  justify-content: space-between;
}
.todo-app__tasks-item:hover {
  background: #FAFAFA;
  transition: all 0.4s ease;
}
.todo-app__tasks-item:hover .todo-app__tasks-item__deleteElem {
  transition: all 0.9s ease;
  display: block;
  visibility: visible;
}
.todo-app__tasks-item__input-txt {
  display: flex;
  align-items: center;
}
.todo-app__tasks-item__input-txt label {
  padding-top: 4px;
  font-weight: 300;
  font-size: 24px;
  word-break: break-word;
  margin-left: 3px;
  max-width: -webkit-fill-available;
}
.todo-app__tasks-item__deleteElem {
  display: block;
  visibility: hidden;
  margin-right: 5px;
  width: 36px;
  height: 36px;
}
.checkbox {
  cursor: pointer;
  position: relative;
}
.checkbox div > span {
  color: #34495E;
  padding: 0.5rem 0.25rem;
}
.checkbox div > input {
  width: 36px;
  height: 36px;
  min-width: 36px;
  margin: 0 8px 0 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #E6E6E6;
  border-radius: 360px;
  outline: none;
  transition-duration: 0.3s;
  background-color: #fff;
  cursor: pointer;
}
.checkbox div > input:hover {
  border: 3px solid #E6E6E6;
}
.checkbox div > input:checked {
  border: 1px solid #41B883;
  background: url(../icons/Frame2.svg) no-repeat;
  background-size: 17px;
  background-position: center;
}
.checkbox div > input:checked + label {
  color: #E6E6E6;
  text-decoration: line-through;
}
.checkbox div > input:focus {
  border: 3px solid #41B883;
}
.checkbox:focus-within > .todo-app__tasks-item__deleteElem {
  transition: all 0.9s ease;
  display: block;
  visibility: visible;
}
.todo-app {
  position: relative;
  max-width: 560px;
  min-width: 460px;
  margin: 0 auto 20px;
  z-index: 0;
}
.todo-app:before {
  left: 0.5%;
  right: 0.5%;
  height: 5px;
  z-index: -1;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  top: 100%;
}
.todo-app:after {
  left: 1%;
  right: 1%;
  height: 10px;
  z-index: -2;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  top: 100%;
}
.border {
  border-bottom: 1px solid #E6E6E6;
}
.todo-app__main-controls {
  display: flex;
}
.todo-app__main-controls_checkAll {
  padding: 10px 10px 0;
  height: 64px;
  width: 56px;
}
.todo-app__main-controls_add-new {
  font-weight: 100;
  max-width: -webkit-fill-available;
  width: 100%;
  border: 0;
  margin: 0;
  height: 64px;
  padding: 4px 4px 0 4px;
  box-sizing: border-box;
  font-size: 24px;
  font-family: Roboto, Arial, sans-serif;
}
.todo-app__main-controls_add-new::placeholder {
  color: #ccc;
  font-style: italic;
  font-weight: 100;
}
@media (min-width: 481px) and (max-width: 767px) {
  .todo-app {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .todo-app {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}
