@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700&subset=cyrillic');

body {
	margin: 0;
	padding: 0;
	background: #F2F2F2;
	font-family: 'Roboto', 'Arial', 'sans-serif';
	color: #888888;
}

li {
	list-style: none;
}

h1 {
	text-align: center;
	font-style: normal;
	font-weight: 100;
	font-size: 100px;
	line-height: 21px;
	/* identical to box height, or 21% */

	letter-spacing: -2.5px;

	color: #CCCCCC;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

p {
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	flex-direction: column;
	margin-left: 30%;
  margin-right: 30%;
	background: white;
	min-width: fit-content;
}

.setCheckedAll{
	padding: 0 10px;
}

.search {
	max-width: -webkit-fill-available;
	width: 100%;
	border: 0;
	margin: 0;
	padding: 20px;
}

.picker ul{
	margin: 0;
	padding: 0;
}

.elements{
	display: flex;
	justify-content: space-between;
	vertical-align: baseline;
}



.elements_text{
	font-size: 50px;
}


/*Раздел стилизации Чекбоксов*/

.checkbox {
    cursor: pointer;
    position: relative;
}

.checkbox div > span {
    color: #34495E;
    padding: 0.5rem 0.25rem;
}

.checkbox div > input {
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #E6E6E6;
    border-radius: 360px;
    outline: none;
    transition-duration: 0.3s;
    background-color: #FFFFFF;
    cursor: pointer;
  }

.checkbox div > input:checked {
    border: 1px solid #41B883;
    background: url(icons/Frame2.svg)no-repeat;
    background-size: 17px;
    background-position: center;
}


.checkbox div > input:active {
    border: 2px solid #34495E;
}

/*Конец раздела*/

.checkers {
	padding: 15px;
}

.checkers-input-txt{
	display: flex;
}

.checkers-input-txt p{
	padding-top: 6.5px;
	margin-left: 3px;
}

.checkers:hover .deleteElem{
	transition: all 0.9s ease;
	display: block;
	background: #FAFAFA;
}

.checkers:hover {
	background: #FAFAFA;
	transition: all 0.4s ease;
}

.border {
	border-bottom: 1px solid #E6E6E6;
}

.deleteElem {
	display: none;
}

.deleteElem:hover {
	background: indianred;
}


.botOfContent {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 14px;
	padding: 20px 10px;
	max-width: -webkit-fill-available;

    height: 9px;
    padding-bottom: 17px;
    padding-top: 7px;

}

.botOfContent div{
	display: flex;
	justify-content: space-between;
	height: fit-content;
}

.botOfContent-helpButton{
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */

	display: flex;
	align-items: center;
	letter-spacing: -0.35px;
}

.bottom {
	display: none;
}

.botOfContent-controlButton {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */

	display: flex;
	align-items: center;
	letter-spacing: -0.35px;
	padding: 0 5px;
}

.active {
	background: #FFFFFF;
	border: 1px solid #EBDFDF;
}

@media (min-width: 481px) and (max-width: 767px) {
  .content {
  	margin-left: 0;
  	margin-right: 0; 
  }  
}

@media (min-width: 320px) and (max-width: 480px) {
  .content {
  	margin-left: 0;
  	margin-right: 0; 
  }  
}
